.grid {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  grid-template-areas:
    'header nav nav nav'
    'aside main main main'
    'aside main main main'
    'footer footer footer footer';
}

.header {
  grid-area: header;
  display: grid;
  align-items: center;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

.item {
  display: grid;
  align-items: center;
  background-color: #2a2dfd;
  color: white;
  font-size: 20px;
  justify-items: center;
  padding: 20px;
  text-transform: uppercase;
}
